body {   
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
    color: black;
}

ul {
    margin: 0px;
    padding: 0px;

    display: flex;
    gap: 20px;
    list-style-type: none;

}

img {
    background-color: rgb(209, 209, 209);
}

.container.img-text img {
    border: 4px solid #3882f6;
    border-radius: 10px;
    background-color: white;
}

button {
    width: 80px;
    height: 30px;

    color: white;
    background-color: #3882F6;
    
    border: none;
    border-radius: 8px;
}

.section.random-info h1 {
    margin: 70px ;
}

.section.sign-up button {
    border: 2px solid white;
} 

.hero-secondary-text, .header a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

/* Main website parts */
.header {
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.header, .body, .footer {
    display: flex;
}

.header, .section.short-info {
    padding: 16px 280px;
    
}

.header, .section.short-info {
    background-color: #1f2937;
}

.body {
    flex-direction: column;
}

.footer {
    color: #e5e7eb;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/*  */
/* Sections */
.section {
    display: flex;
}

.section.short-info {
    justify-content: space-between;
    padding-bottom: 80px;
}

.section.random-info {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

/* Containers */
.container {
    display: flex;
}

.container.hero {
    flex-direction: column;    
}

.container.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.img-text p {
    max-width: 200px;
    margin: 30px 50px;
}



/* Class elements */
.logo {
    font-size: 24px;
    color: #F9FAF8;
}



/* Hero */
.hero-main-text {
    font-size: 48px;
    font-weight: bolder;

    color: #f9f1f8;
}